@mixin bg-gradient($rgba1, $rgba2) {
    background: -webkit-linear-gradient(bottom, $rgba1, $rgba2);
    background: -moz-linear-gradient(bottom, $rgba1, $rgba2);
    background: -o-linear-gradient(bottom, $rgba1, $rgba2);
    background: -ms-linear-gradient(bottom, $rgba1, $rgba2);
    background: linear-gradient(to top, $rgba1, $rgba2);
}

@mixin bg-img($img, $pos, $size) {
    $url:"img/#{$img}.png";
    background: url($url) no-repeat $pos;
    background-size: $size;
}

@mixin auto($auto) {
    margin-left: $auto;
    margin-right: $auto;
}


