@import "settings";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 919px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.reg {
    height: 419px;
}

.singin,
.recover {
    height: 197px;
}

form {
    width: 382px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;

    .icon {
        width: 100%;
        display: flex;
        align-items: center;


        input[type=text] {
            border: 0.5px solid gray;
            border-radius: 2px;
            margin-left: -20px;
            margin-top: 20px;
            width: 338px;
            height: 39px;
            padding-left: 50px;
            &::placeholder {
                color: lightgray;
            }
        }
    }
    
            input[type=submit] {

            font-family: TitilliumText22L;
            font-size: 24px;
            color: #fff;
            text-shadow: 1px 1px #51850e;
            border: 0.5px solid green;
            background-blend-mode: overlay;
            box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.41);
            background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
            background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
            background-color: #93d02b;
            border-radius: 2px;
            
        }
        .input-singup {
            width: 338px;
            height: 48px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }        
        .input-singin {
            width: 139px;
            height: 41px;
            
            
        }
    .iconc {
        width: 338px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;




        .checkbox{
            display: flex;
            align-items: center;
            
        input[type=checkbox] {

            -webkit-appearance: none;
            -o-appearance: none;
            appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 12px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            &:active,
            &:checked:active {
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
            }
            &:checked {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
                color: #99a1a7;
            }
            &:checked:after {
                content: '';
                width: 14px;
                height: 14px;
                position: absolute;
                border-radius: 3px;
                background-blend-mode: overlay;
                box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.41);
                background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
                background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
                background: linear-gradient(to top, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
                background-color: #93d02b;
                color: #99a1a7;
                left: 5px;
                top: 5px;
            }
        }
        p {
            margin-left: 10px;

        }
    }
    }




    i {
        position: relative;
        top: 10px;
        left: 21px;
        color: lightgray;
        padding: 5px 10px 5px 10px;
        border-right: 1px solid lightgray;
    }

}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
